<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="showActions()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Open Action Sheet
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="openCapacitorSite()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Browser
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="logDeviceInfo()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        logDeviceInfo
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="logBatteryInfo()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        logBatteryInfo
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <!-- <ion-item (click)="showAlert()"> -->
    <ion-item (click)="showPrompt()">
    <!-- <ion-item (click)="showConfirm()"> -->
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Show prompt dialog
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="showConfirm()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Show confirm dialog
      </ion-label>
      <div class="arrow" slot="end"></div>
      <!-- <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> -->
    </ion-item>

    <ion-item (click)="checkMotion()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Check Motion
      </ion-label>
      <!-- <button id="myButton"></button> -->
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
